/*toggle
-------------------------------------------*/
.c-toggle {
	width: 50px;
	height: 50px;
	display: block;
	position: relative;
	top: -70px;
	left: 80%;
	background: transparent;
	border: none;
	outline: none; //クリック時の枠を消す
	@include mq(lg) {
		display: none;
	}
}

.c-toggle::before, .c-toggle::after {
	content: '';
	display: block;
	position: absolute;
	top: calc((100% - 5px)/2); //ボタンの高さ100%から線1本分（height: 6px）を引いたその半分の値
	width: 45px;
	height: 6px;
	background-color: #707070;
}

.c-toggle::before {
	transform: rotate(45deg);
}
.c-toggle::after {
	transform: rotate(-45deg);
}